*{
    background-color: #1a1819;
}
.contenedor{

}
.titulo{
    margin-top: 100px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
h2{
    color:white;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contenedor-imagen{
    align-content: center;
    display: flex;
    justify-content: space-around;
}
.imagen-ilusos{
    align-content: center;
    border-radius: 50%;
    animation-name: ilusos;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    width: 400px;
    height: 400px;
}
@keyframes ilusos {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.cont-imagen-logo{
    display: flex;
    justify-content: space-around;
    
    
}
.imagen-logo{
    align-self: center;
    height: 130px;
    
}
.separador{
    color: white;
    background-color: white;
}
.separacion{
    height: 2px;
    width: 100%;
    background-color: #dfdbdb;
}
.separacion2{
    height: 2px;
    width: 50%;
    background-color: #dfdbdb;
    align-content: center;
}
.cont-separador{
    display: flex;
    justify-content: space-around;
}
.menu{
    position: sticky;
    top: 0px;
    z-index: 1;
    height: 125px;
}
.links{
    margin-top: -10;
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: #1a1819;
}
.links:hover{
    color: blue;
}
#section{

}
.apartado-categoria{
    color: blue;
    font-size: 40px;
}
